




<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      
<div class="landing">
    <img src="assets/assetsbaicbackground1.jpg" alt="">
    <div class="content">
      <a routerLink="/main/Explore-ALL-Models" class="explore" href="#">Explore ALL Models</a>
    </div>
</div>
    </div>
    <div class="carousel-item">
      
<div class="landing">
    <img src="assets/assetsbaicbackground2.jpg" alt="">
    <div class="content">
      <a routerLink="/main/Explore-ALL-Models" class="explore" href="#">Explore ALL Models</a>
    </div>
</div>
    </div>
    <div class="carousel-item">
<div class="landing">
      <img src="assets/assetsbaicbackground3.jpg" alt="">
      <div class="content">
        <a routerLink="/main/Explore-ALL-Models" class="explore" href="#">Explore ALL Models</a>
      </div>
</div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<section class="cars">

  <h2 class="title">EXPLORE YOUR BAIC</h2>

  <!-- Tabs -->
  <div class="tabs">
  <span
    *ngFor="let cat of categories"
    (click)="setCategory(cat)"
    [class.active]="selectedCategory === cat"
  >
    {{ cat }}
  </span>
</div>

  <!-- Cars List -->
<div class="cars-list">

  <div 
    class="car-card"
    *ngFor="let car of getFilteredCars()"
    (click)="selectCar(car)"
  >

    <!-- اسم العربية فوق -->
    <p class="car-name">{{ car.name }}</p>

    <!-- الصورة -->
    <img
      [src]="car.small"
      class="car-item"
      [class.active]="selectedCar === car"
    >

  </div>

</div>

  <!-- Preview -->
  <div class="car-preview">
    <img [src]="selectedCar.big" alt="selected car">
  </div>

</section>